/***************************************/
/* Below 75 * 16 = 1200px (Landscape Tablets) */
/***************************************/
@media (max-width: 75em){
  html {
    /* 56.25% = 9px / 16px = 0.5625 */
    font-size: 56.25%;
  }
}

/***************************************/
/* Below 57 * 16 = 912px (Tablets) */
/***************************************/
@media (max-width: 56em){
  html {
    /* 50% = 8px / 16px = 0.50 */
    font-size: 50%;
  }
}


/***************************************/
/* Below 28 * 16 = 448px (Phones) */
/***************************************/
@media (max-width: 28em){
  html {
    /* 43.75% = 7px / 16px = 0.4375 */
    font-size: 43.75%;
  }

  .menu-button:link, 
  .menu-button:visited{  
    font-size: 3.6rem;
    padding: 1.2 2.4rem;
  }
}